/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: 'Inter';
}

/* --------- Begin your CSS Below here --------- */

header {
	width: 100vw;
	height: 45px;
	color: rgb(245, 245, 245);
	background-color: rgb(213, 107, 11);
	display: flex;
	justify-content: space-between;
	padding-left: 75px;
	padding-right: 30px;
	align-items: center;
	font-size: 12pt;
	box-sizing: border-box;
}

header button {
	background-color: rgb(213,107,11);
	border: none;
	color: rgb(245, 245, 245);
	font-size: 12pt;
	margin-right: 20px;
}

header button:hover {
	cursor: pointer;
	border-bottom: 1px solid rgb(245, 245, 245);
	margin-bottom: -1px;
}

h1 {
	color: rgb(213,107,11);
	font-size: 30pt;
	font-weight: 800;
	text-align: center;
	margin: 16px;
}

h3 {
	color: rgb(245, 245, 245);
	text-align: center;
	font-size: 12pt;
	/* width:70vw; */
}

.adBanner {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20%;
	padding-right: 20%;
}

.ad_Text {
	width: 60vw;
	height: fit-content;
	color: rgb(245,245,245);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.blue-btn {
	background-color: rgb(94, 148, 147);
	border: none;
	height: 29px;
	width: 100px;
	color: rgb(245, 245, 245);
	margin-top: 15px;
}

.adBtn {
	width: 100vw;
	text-align: center;
}

input {
	border: none;
	height: 30px;
	width: 280px;
	background: transparent;
	box-sizing: border-box;
	font-size: 13pt;
	padding-left: 8px;
	color: darkslategrey;
}

::placeholder {
	color: rgb(117, 117, 117)
}

input:focus {
	outline: none;
}

.input-box {
	align-items: center;
	padding-left: 5px;
	border-radius: 20px;
	background-color: rgb(255, 220, 204);
	width: 325px;
	height: 30px;
	display: flex;
	position: relative;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
}

body {
	position: relative;
	min-height: 100vh;
}

.recipe-results-container {
	width: 75vw;
	height: fit-content;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 120px;
}

.RecipeCard {
	/* border:1px solid rgb(192, 192, 192); */
	box-shadow: 0px 3px 3px rgb(181, 181, 181);
	width: 200px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 15px;
	padding-bottom: 8px;
}

.recipe-card-container {
	width: 200px;
	height: 200px;
	background-size: cover;
	overflow: hidden;
}

.recipe-card-img {
	/* width: 100%; */
	height: 100%;
}

.recipe-card-title {
	color: black;
	font-family: 'Inter';
	font-weight: 700;
}

.contentBox {
	width: 60vw;
	height: 90%
}

.recipeBox {
	border: none;
	height: fit-content;
	display: flex;
	box-shadow: 0px 3px 3px grey;
	width: 
}

.instructionsBox {

}

footer {
	display: flex;
	position: absolute;
	bottom: 0px;
	width: 100vw;
	height: 120px;
	background-color: rgb(62, 62, 62);
	color: rgb(245, 245, 245);
	align-items: center;
	justify-content: space-between;
	padding: 0px 75px;
	box-sizing: border-box;
}

footer h5 {
	margin-bottom: 10px;
}

footer div div {
	width: 150px;
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	
}
footer a {
	background-color: rgb(94, 148, 147);
	border-radius: 50%;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 80%;
}